html, body, body > div{
    width: 100%;
    height: 100%;
}

main{
    min-height: 100%;
}

textarea{
    outline: none;
    resize: none;
    background-color: rgba(119, 136, 153, 0.2);
}

textarea:focus{
    background-color: rgba(147, 206, 255, 0.2);
}